In [1]:
# SHARK ATTACKS DATA CLEANNING

In [2]:
# IMPORT LIBRERY

import numpy as np
import pandas as pd
import SRC.cleaning_functions as fc

# PIP INSTALL

!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (1.21.3)
Requirement already satisfied: pandas in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (1.21.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
# LOADDING DATA

df = pd.read_csv("Data/attacks.csv",encoding = "ISO-8859-1")

In [4]:
# CHECKING HEAD

display(df.head(3))

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

In [5]:
# CHECKING SHAPE

display(df.shape)

(25723, 24)

In [6]:
# CLEANNING DATAFRAME POST DEFINITION OF HYPOTHESIS

# LIST OF COLUMNS TO DROP

column = ["pdf", 
          "href", 
          "href formula",
          "Unnamed: 22",
          "Unnamed: 23",
          "Type",
          "Date",
          "Name",
          "Sex ",
          "Age",
          "Injury",
          "Area",
          "Investigator or Source",
          "Case Number.1",
          "Case Number.2",
          "original order"]

# DROP 

shark = df.drop(column,axis=1)

In [7]:
# CHECKING Null

display(shark.isnull().sum())

Case Number    17021
Year           19423
Country        19471
Location       19961
Activity       19965
Fatal (Y/N)    19960
Time           22775
Species        22259
dtype: int64

In [8]:
# CHECKING NEW DATAFRAME SHAPE

display(shark.head(3))

,Case Number,Year,Country,Location,Activity,Fatal (Y/N),Time,Species
0,2018.06.25,2018.0,USA,"Oceanside, San Diego County",Paddling,N,18h00,White shark
1,2018.06.18,2018.0,USA,"St. Simon Island, Glynn County",Standing,N,14h00 -15h00,NaN
2,2018.06.09,2018.0,USA,"Habush, Oahu",Surfing,N,07h45,NaN

In [9]:
# CHECKING SHAPE

display(shark.shape)

(25723, 8)

In [10]:
# ERASE ALL THE ROWS WITH NaN >= 4

display(shark.dropna(thresh=4))

,Case Number,Year,Country,Location,Activity,Fatal (Y/N),Time,Species
0,2018.06.25,2018.0,USA,"Oceanside, San Diego County",Paddling,N,18h00,White shark
1,2018.06.18,2018.0,USA,"St. Simon Island, Glynn County",Standing,N,14h00 -15h00,NaN
2,2018.06.09,2018.0,USA,"Habush, Oahu",Surfing,N,07h45,NaN
3,2018.06.08,2018.0,AUSTRALIA,Arrawarra Headland,Surfing,N,NaN,2 m shark
4,2018.06.04,2018.0,MEXICO,La Ticla,Free diving,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
6297,ND.0005,0.0,AUSTRALIA,Roebuck Bay,Diving,Y,NaN,NaN
6298,ND.0004,0.0,AUSTRALIA,NaN,Pearl diving,Y,NaN,NaN
6299,ND.0003,0.0,USA,Ocracoke Inlet,Swimming,Y,NaN,NaN
6300,ND.0002,0.0,PANAMA,"Panama Bay 8ºN, 79ºW",NaN,Y,NaN,NaN
6301,ND.0001,0.0,CEYLON (SRI LANKA),"Below the English fort, Trincomalee",Swimming,Y,NaN,NaN

In [11]:
# CHECKING 'Case Number' DUPLICATES, SINCE IS THE ONLY ONE THAT CAN NOT HAVE DUPLICATES.

display(shark['Case Number'].duplicated().sum())

19435

In [12]:
# MAKING A LIST WITH THE "Case Numbers" DUPLICATES TO KNOW THEM.

dup = shark[shark['Case Number'].duplicated(keep='last')]['Case Number'].tolist()

In [13]:
# THE LAST 10 ITEMS OF THE LIST ARE THE ONES THAT WE WANT TO ERASE

print(dup[0:10])

['2014.08.02', '2013.10.05', '2012.09.02.b', '2009.12.18', '2006.09.02', '2005.04.06', '1990.05.10', '1983.06.15', '1980.07.00', '1966.12.26']

In [14]:
# CREATE A SET TO CHECK AGAINST THE DF.SHARK

set_dup = set(dup)

In [15]:
# CREATE A FOR LOOP SO THAT WE CAN ENSURE DUPLICATES HAD THE SAME INFORMATION

for r in set_dup:
        dup = shark[shark['Case Number'] == r]

shark.loc[dup.iloc[1,:].name, 'Case Number'] = shark.loc[dup.iloc[1,:].name]['Case Number'] + 'z'

In [16]:
# THERE SHOULD BE NO DUPLICATES

display(shark.duplicated().sum())

19417

In [17]:
# CHECKING INFO

display(shark)

,Case Number,Year,Country,Location,Activity,Fatal (Y/N),Time,Species
0,2018.06.25,2018.0,USA,"Oceanside, San Diego County",Paddling,N,18h00,White shark
1,2018.06.18,2018.0,USA,"St. Simon Island, Glynn County",Standing,N,14h00 -15h00,NaN
2,2018.06.09,2018.0,USA,"Habush, Oahu",Surfing,N,07h45,NaN
3,2018.06.08,2018.0,AUSTRALIA,Arrawarra Headland,Surfing,N,NaN,2 m shark
4,2018.06.04,2018.0,MEXICO,La Ticla,Free diving,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# CREATING THE FINAL DATAFRAME, ERASING THE ROWS WITH >= 4 NaN

new_shark = shark.dropna(thresh=4)

In [19]:
# CHECKING INFO

display(new_shark)

,Case Number,Year,Country,Location,Activity,Fatal (Y/N),Time,Species
0,2018.06.25,2018.0,USA,"Oceanside, San Diego County",Paddling,N,18h00,White shark
1,2018.06.18,2018.0,USA,"St. Simon Island, Glynn County",Standing,N,14h00 -15h00,NaN
2,2018.06.09,2018.0,USA,"Habush, Oahu",Surfing,N,07h45,NaN
3,2018.06.08,2018.0,AUSTRALIA,Arrawarra Headland,Surfing,N,NaN,2 m shark
4,2018.06.04,2018.0,MEXICO,La Ticla,Free diving,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
6297,ND.0005,0.0,AUSTRALIA,Roebuck Bay,Diving,Y,NaN,NaN
6298,ND.0004,0.0,AUSTRALIA,NaN,Pearl diving,Y,NaN,NaN
6299,ND.0003,0.0,USA,Ocracoke Inlet,Swimming,Y,NaN,NaN
6300,ND.0002,0.0,PANAMA,"Panama Bay 8ºN, 79ºW",NaN,Y,NaN,NaN
6301,ND.0001,0.0,CEYLON (SRI LANKA),"Below the English fort, Trincomalee",Swimming,Y,NaN,NaN

In [20]:
# ERASE ["Case Number"] SINCE THERE ARE NO MORE DUPLICATES ALSO "LOCATION" AND "YEAR" SINCE I DON´T NEED THEM
# CREATING A NEW DF "SHARKY"

column_2 = ["Case Number","Location","Year"]
sharky = new_shark.drop(column_2,axis=1)

In [21]:
# CHECKING THE NEW DATAFRAME

display(sharky)

,Country,Activity,Fatal (Y/N),Time,Species
0,USA,Paddling,N,18h00,White shark
1,USA,Standing,N,14h00 -15h00,NaN
2,USA,Surfing,N,07h45,NaN
3,AUSTRALIA,Surfing,N,NaN,2 m shark
4,MEXICO,Free diving,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...
6297,AUSTRALIA,Diving,Y,NaN,NaN
6298,AUSTRALIA,Pearl diving,Y,NaN,NaN
6299,USA,Swimming,Y,NaN,NaN
6300,PANAMA,NaN,Y,NaN,NaN
6301,CEYLON (SRI LANKA),Swimming,Y,NaN,NaN

In [22]:
# FILLING NaN WITH A "Unknown"

sharky = sharky.fillna("UNKNOWN")

In [23]:
# CHECKING THE NEW DATAFRAME WITH UNKNOWN

display(sharky)

,Country,Activity,Fatal (Y/N),Time,Species
0,USA,Paddling,N,18h00,White shark
1,USA,Standing,N,14h00 -15h00,UNKNOWN
2,USA,Surfing,N,07h45,UNKNOWN
3,AUSTRALIA,Surfing,N,UNKNOWN,2 m shark
4,MEXICO,Free diving,N,UNKNOWN,"Tiger shark, 3m"
...,...,...,...,...,...
6297,AUSTRALIA,Diving,Y,UNKNOWN,UNKNOWN
6298,AUSTRALIA,Pearl diving,Y,UNKNOWN,UNKNOWN
6299,USA,Swimming,Y,UNKNOWN,UNKNOWN
6300,PANAMA,UNKNOWN,Y,UNKNOWN,UNKNOWN
6301,CEYLON (SRI LANKA),Swimming,Y,UNKNOWN,UNKNOWN

In [24]:
# MAKING A LIST UNIQUE FOR "COUNTRY"

countries = list(sharky['Country'].unique())

In [25]:
# CHECKING THE AMOUNT PER "COUNTRY"

display(sharky.Country.value_counts())

USA                      2228
AUSTRALIA                1337
SOUTH AFRICA              579
PAPUA NEW GUINEA          134
NEW ZEALAND               128
                         ...
THE BALKANS                 1
NORTH ATLANTIC OCEAN        1
MAYOTTE                     1
GABON                       1
CEYLON (SRI LANKA)          1
Name: Country, Length: 212, dtype: int64

In [26]:
# CHECKING VALUES AND SYNTAX PER "COUNTRY"

print(countries)

['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'UNKNOWN', 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS', 'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE', ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ', 'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

In [27]:
# REDUCE COUNTRIES TO BETTER VISUALIZE THE PLOTS

sharky['Country'].replace({
'MEXICO  ' : 'MEXICO',
'MALDIVE ISLANDS':'MALDIVES',
' ':'DESCONOCIDO ',
'WESTERN SAMOA':'SAMOA',
'AMERICAN SAMOA':'SAMOA',
'SOLOMON ISLANDS / VANUATU':'SOLOMON ISLANDS',
'EGYPT / ISRAEL':'',
'EGYPT  ':'EGYPT ',
'REUNION' : 'REUNION ISLAND',
' PHILIPPINES':'PHILIPPINES',
'SOUTH CHINA SEA':'CHINA',
'Fiji' : 'FIJI',
'ITALY / CROATIA' : 'ITALY',
'NORTH ATLANTIC OCEAN' : 'ATLANTIC OCEAN',
'MID ATLANTIC OCEAN' : 'ATLANTIC OCEAN',
'SOUTH ATLANTIC OCEAN' : 'ATLANTIC OCEAN',
'NORTH ATLANTIC OCEAN ' : 'ATLANTIC OCEAN',
'EGYPT / ISRAEL' : 'ISRAEL',
'DIEGO GARCIA' : 'UNKONOWN',
'Seychelles' : 'SEYCHELLES',
' TONGA' : 'TONGA',
'YEMEN ' : 'YEMEN',
'Sierra Leone' : 'SIERRA LEONE',
'RED SEA / INDIAN OCEAN' : 'INDIA',
'INDIAN OCEAN' : 'INDIA',
'INDIAN OCEAN?' : 'INDIA',
'Between PORTUGAL & INDIA' : 'INDIA',
'FEDERATED STATES OF MICRONESIA' : 'MICRONESIA',
'IRAN / IRAQ' : 'IRAN',
'ANDAMAN / NICOBAR ISLANDAS' : 'ANDAMAN ISLANDS',
    
},inplace=True)

In [28]:
# CHECKING THE AMOUNT PER "COUNTRY" NEW

display(sharky.Country.value_counts())

USA                   2228
AUSTRALIA             1337
SOUTH AFRICA           579
PAPUA NEW GUINEA       134
NEW ZEALAND            128
                      ...
MAYOTTE                  1
GABON                    1
NICARAGUA                1
NORTH SEA                1
CEYLON (SRI LANKA)       1
Name: Country, Length: 187, dtype: int64

In [29]:
# MAKING A LIST UNIQUE FOR "ACTIVITY"

activities = list(sharky['Activity'].unique())

In [30]:
# CHECKING THE AMOUNT PER "ACTIVITY"

display(sharky.Activity.value_counts())

Surfing                                   971
Swimming                                  869
UNKNOWN                                   534
Fishing                                   431
Spearfishing                              333
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1533, dtype: int64

In [31]:
# CHECKING VALUES AND SYNTAX FOR "ACTIVITY"

print(activities)

['Paddling', 'Standing', 'Surfing', 'Free diving', 'Kite surfing', 'Swimming', 'Fishing', 'Walking', 'Feeding sharks', 'Boogie boarding', 'Scuba diving', 'Paddle-skiing', 'Body boarding', 'Windsurfing', 'Stand-Up Paddleboarding', 'Wading', 'Scuba Diving', 'Kayak fishing for sharks', 'Cleaning fish', 'Snorkeling', 'Spearfishing', 'UNKNOWN', 'Diving', 'Fishing / Wading', '2 boats capsized', 'Night bathing', 'Surfing ', 'Kayaking / Fishing', 'Kayaking', 'Body surfing', 'Swimming, poaching abalone', 'Canoeing', 'SUP', 'Skimboarding', 'Touching a shark', 'Fishing ', 'Attempting to lasso a shark', 'Photo shoot', 'Paddle boarding', 'Kakaying', 'Washing hands', 'Grabbing shark for a selfie', 'Kayak fishing', 'Tagging sharks', 'Surf skiing ', 'Surf fishing', 'Floating', 'Cage Diving', 'Surfng', 'SUP Foil boarding', 'Lobstering', 'Fishing in Alabama Deep Fishing Rodeo', 'Fishing for squid', 'Fishing for sharks', 'Floating in tube', 'Teasing a shark', 'Surf-skiing', 'Diving for beche-de-mer', 'Feeding stingrays?', 'Kayak Fishing', 'Sea disaster', 'Lobster fishing', 'Swimming / Wading', 'Fishing for shrimp', 'Photographing fish', 'Scallop diving on hookah', 'Treading water', 'Body boarding ', 'Playing in the water', 'Body Boarding', 'Body surfing?', 'Playing', 'Attempting to rescue a shark', 'Photographing the shark', 'Standing / Snorkeling', 'Hand feeding sharks', 'Sitting in the water', 'Transatlantic Rowing', 'Bodysurfing', 'Rowing', 'Shark fishing', 'Surfing & filming dolphins', 'Filming', 'Swimming after falling overboard', 'Diving / Filming', 'Fishing for blue sharks', 'Standing in inner tube', 'Body surfing or Boogie boarding', 'Kayaking ', 'Feeding fish', 'Playing with an air mattress', 'Kite boarding', 'Shark diving', 'Petting a shark', 'Kneeling in the water', 'Fell into the water', 'Shark watching', 'Diving for lobsters', 'Kite Surfing', 'Scuba diving / culling lionfish', 'Kitesurfing', 'Sailing', 'Spearfishing / Free diving', 'Free diving / Photographing pilot whales', 'Filming a documentary', 'Attempting to remove fishing net from submerged object', 'Kiteboarding', 'Diving for crayfish', 'Diving ', 'Swimming / snorkeling', 'Diving for Abalone', 'Casting a net', 'Marathon swimming', 'Longline fishing for sharks', 'Wrangling a shark', 'Attempting to free the shark', 'Walking in surf', 'Swimming ', 'Swimming & snorkeling', 'Boogie Boarding', 'Playing in the surf', 'Fly fishing', "Fishing - 'tag & release'", 'Swimming to shore with floatioon devices after boat engine conked out', 'Dragging stranded shark into deeper water', 'Bathing', 'Bodyboarding', 'Swimming or boogie boarding', 'Wading or swimming', 'Free diving ', 'Attempting to rescue an injured & beached shark', 'Free diving / spearfishing', 'Crayfishing', 'Diving, feeding sharks', 'Attempting to Kite surf from Egypt to Saudi Arabia', 'Fishing (illegally)', 'Diving, photographing sharks', 'Wade fishing', 'Jumping in the waves', 'Wade Fishing', 'Standing, collecting sea stars', 'Floating ', 'Swimming or Snorkeling', 'Kayaking or Wave skiing', 'Jet skiing', 'Standing or boogie boardin', 'Kite Boarding', 'Washing sand off a speared fish', 'Standing, holding shark pup', 'Diving / fishing', 'Wakeboarding', 'Diving for abalone', 'Shark fishing on the Ricardo Astorga', 'Shark fishing on the Don Agustín-VI. ', 'Attempting to fix motor', 'Swimming /  Whale Watching', 'Swimming after boat became disabled', 'Rescuing', 'Measuring sharks', 'Swimming / treading water', 'Surf fishing / wading', 'Spearfishing (free diving)', 'Paddling on kneeboard', 'Swimming to shore from capsized kayak', 'Paddle-boarding', 'Swimming, attempting to rescue a girl  believed to be drowning', 'Washing his feet', 'Paddle-surfing', 'Crawling', 'Diving, but on the surface when bitten by the shark', 'Air Disaster', 'Crabbing', 'Yacht race', 'Sinking of the cargo ship Mark Jason', 'Fishing boat swamped in storm', 'Swimming, towing surfboard', 'Swimming or surfing', 'Rowing an inflatable dinghy', 'Sea Disaster', 'Night diving', 'Free-diving', 'Walking out of the water after surfing', 'Fishing from surfski', "Accidentally stood on hooked shark's tail before attempting to gut it ", 'Attempting to chase shark out to sea', 'Fishing for snapper', 'Removing fish from a trap', 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ', 'Wading?', 'Jumping', 'Floating near boat & observing bioluminesce', 'Jumped into the water', 'Surf paddling', 'Murder', 'Removing hook from shark', 'Reviving a sedated shark', 'Shark tagging', 'Swimming / jumping off a jetty', 'Playing on a sandbar', 'Shrimping', 'Swimming / Body Surfing', 'Playing soccer in the water', 'Free diving / modeling', 'Diving / Kissing the shark', 'Lifesaving drill', 'Touching sharks', 'Competing in the Woodvale Atlantic Rowing Race', 'Night Surfing', 'Standing / Surfing', 'Treading water/ Surfing', 'Removing shark from net', 'Boogie boarding, kicked at object in the water', 'Scuba diving in aquarium tank', 'Holding onto an inflatable boat', 'Swimming with boogie board', 'Spearfishing (Free diving)', "Crouching in 2' of water", 'SCUBA Diving', 'Diving in aquarium display tank', 'Attempting to drive shark away from sailing regatta', 'Fishing from a kayak', 'Swept out to sea by the tsunami, she clung  to a log for 24 hours', 'Scurfing (surfboard being  towed behind a boat)', 'Chumming for white sharks', 'Spearfishing/ filming', 'Diving & fishing with net', 'Wading / fishing & carrying a bag of fish', 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat', 'In water with diving seabirds', 'Swimming, poaching perlemoen', 'Boogie-boarding / swimming', 'Free diving & spearfishing', 'Tandem surfing', 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water', 'Surf skiing', 'Kayaking (returning from spearfishing)', 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea', 'Swimming / shipwreck', 'Surfing amid a shoal of sharks', 'Swimming to shore from boat or kayak', 'Sitting on surfboard', 'Wading near a fishing net', 'Wading to shore from his boat', 'Standing, stepped on shark', 'Wade-fishing', 'Swimming, wearing black wetsuit & swim fins', 'Walking, carrying surfboard & stepped on shark', 'Swimming with pod of dolphins', 'Killing  sharks', 'Swimming (using a float)', 'Petting captive sharks', 'Unknown', "Fishing, standing in 2' of water", 'Fishing from Surfboard', 'Boogie boarding or Surfing', 'Wading, when he stepped on the shark', 'Shark Fishing', 'Attempting to retreive a dinghy', 'Snorkeling (filming the sardine run)', 'Floating on a raft', 'Fishing, removing the shark from his line', 'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer', 'Fishing from prawn trawler', 'Scallop diving (using surface-supplied air & a POD) ', 'Fishing (Drowned 2-Apr-2002)', 'Surfing, but standing in water alongside board', 'Body-boarding', 'Swimming /  boogie boarding', 'Capsized fishing boat', 'Kite-Boarding', 'Surfing, fell off surfboard & stepped on the shark.', 'Wreck / Technical diving', 'Walking in shallows', 'Fell off banana boat', 'Floating face-down in knee-deep water', 'Hiking on the beach', 'Spearfishing, carrying his catch', 'Standing alongside surfboard', 'Batin', 'Attempting to catch a crocodile', "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board", 'Fishing for whiting', 'Swimming back from anchored sailboat', 'Diving for sea urchins', 'Diving (shell maintenance)', 'Shipwrecked', 'Fell onto dead shark', 'Standing / surfing', 'Swimming / Body surfing', 'Conducting research', 'Swimming out to porpoises ', 'Windsurfing, but sitting on his board', 'Surfing / Wading', 'Attempting to illegally enter the USA', 'Spearfishing, holding mesh bag with speared fish', 'Air Disaster - Piper aircraft crashed into the sea, killing all on board', 'Boogie boarding / wading', 'Feeding prawns to captive sharks', 'Canoe with 3 men onboard sank', 'Fishing for tarpon', 'Surfing (sitting on his board)', 'Spearfishing, but swimming at surface', 'Surfing, lying on surfboard', 'Wading to shore after surfing', 'Wading with surfboard', "Lying prone in 2' of water", 'Spearfishing & holding catch', 'Swimming with dolphins', 'Wading in school of baitfish', 'Adrift in a life jacket', 'Splashing / wading', 'Swimming after being swept into sea by a large wave', 'Spearfishing & diving for paua', "Scientific research (Dr. Sonny Gruber's student)", 'Swimming, towing a kayak', 'Body surfing or body boarding', 'Swimming near pod of whales', 'Cruising', 'Paddle Skiing', 'Inflatable boat', 'Splashing', 'Fishing for tuna', 'Fishing / washing bait off hands', 'Moving a shark in a net ', 'Surfing (or body boarding)', 'Free diving for abalone', 'Swimming / surfing', 'Towing rubber dinghy', 'Surfing (lying prone on his board)', 'Snorkeling \x96 hunting crayfish and abalone', 'Swimming or paddle boarding', 'Spearfishing on scuba & transferring fish onto a stringer', 'Scuba diving (submerged riding a scooter)', 'Body boarding or surfing', 'Fishingat', 'Walking / surfing', 'SCUBA diving', 'Floating on raft', 'Wading / Surfing', 'Fishing for octopus', 'Spearfishing / night diving', 'Body surfing, stood up on sandbar', 'Rowing ', 'Watching seals', 'Attempting to attract dolphins', 'Swimming or snorkeling', 'Surfing / Swimming', 'Free diving with a pod of dolphins', 'Tech diving ', 'Shell Diving', 'Swimming breast stoke', 'Fishing in knee-deep water', 'Dived naked into the water on a bet', 'Swimming in fish tank', 'Boeing 757 enroute from Porta Plata plunged into the sea', 'Swimming with mask & snorkel', 'Chumming for sharks', 'Diving, gathering shellfish', 'Fell off aircraft carrier', 'Playing / standing', 'Abalone diving using Hookah (near calving whales)', 'Abalone diving using Hookah (resting on the surface)', 'On a float', '"Riding waves on a board"', 'Jumped off surfboard & landed on the shark', 'Scuba diving (ascending using scooter)', 'Playing / jumping', 'Sleeping in anchored boat', 'Scuba diving for bivalves', 'Wind surfing', 'Surfing, sitting on board', 'Murder victim', 'Commercial diver (submerged or treading water)', 'Surfing, paddling seawards', 'Adrift on refugee raft', 'Jumped off rocks into white water', 'Freediving for seashells', 'Swimming alongside NOAA research vessel Discoverer', 'Removing shark from tank in nightclub ', 'Swimming, after falling off towed kneeboard', 'Playing volleyball with friends', 'Hookah diving', 'Surfing, paddling shorewards', 'Stamding', 'Watching the shark feeding on a dead pinniped', 'Riding floatation device', 'Free diving for abalone (ascending)', 'Fishing for lobsters', 'Oyster fishing', 'Paddling on surfboard or body board', 'Scuba diving at seal colony', 'Floating on his back', 'Paddling on surfboard', 'Free diving & spearfishing (ascending)', '   ', 'Standing in waist-deep water, helping his father tend a gill net containing dead fish', 'Lying on surfboard', 'Spearfishing / free diving', 'Scuba diving (submerged)', 'Hookah diving for sea urchins', 'Snorkeling, carrying a speared fish in her hand', 'Fell from cliff while fishing & disappeared in strong current', 'Fisherman', "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found", 'Preparing to fish for jack-mackerel', 'Scuba diving ', 'Scuba diving & filming', 'Hookah diving for pen shells ', 'Fishing for yellowtail, Seriola quinqueradiata', 'Diving for pen shells', 'Fishing from rocks, swept out to sea by large wave & treading water', 'Finning the shark that bit him', 'Swimming from makeshift raft  to life vest after fishing boat sank', 'Swimming behind sailboat', 'Surfing, collided with shark', 'Surfing (or sailboarding)', 'Scuba diving (but on surface)', 'Free diving / spearfishing, from paddleboard & floating on the surface', 'Snorkeling, possibly holding a fish', 'Resting on surfboard', 'Lying on surfboard & paddling', 'Free diving for trochus', 'Scuba diving & spearfishing', 'Board sailing', "On board 51' fishing vessel One Ki", 'Wading, knocked down & swept away by large waves', 'Swimming in canal', "Fishing, stepped on hooked shark's head", 'Observing a shark feeding on a carcass of a humpback whale', 'Hookah diving for abalone (descending)', "Filming 5' blue shark", 'Playing ', "Fell off surfboard 20' from shore", 'Windsurfing (urinating on his board)', 'Scuba diving, but swimming on surface', 'Swimming in strong current with 3 others when he disappeared', 'Surfing with dolphins', 'Scuba diving, hand feeding sharks', 'Spearfishing using scuba & trailing a string of bleeding fish', 'Skindiving', 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy', 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives', "Diving in Sharkey's Reef restaurant\x92s aquarium", 'Free diving & spearfishing ', 'Spearfishing on scuba', 'Sittting in water with his child', 'Shell diving', 'Surfing / treading water', 'pêcheur de bichiques', "Onboard 21' powerboat that capsized in rough seas", 'Standing ', 'Lying atop surfboard', 'Drift fishing', 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ', "Attempting to lasso shark's tail", 'Returning to shore, collided with shark', 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ', 'Vessel caught fire & capsized, survivors in the water', 'Scuba Diving for scallops', 'Dropping anchor', 'Swimming from shore to anchored sailboat', 'The inter-island ferry Vula sank in heavy weather', 'Jumped into the water from a cliff', 'Boat', 'Adrift after ditching plane in the sea', 'Free diving  & spearfishing (submerged)', 'NSB Meshing', 'Racing ski', 'Fishing, fell from rocks & disappeared', 'Hookah diving for abalone', 'Floating on inner tube after diving for lobster', 'Free diving & spearfishing (descending)', 'Bottom fishing for lingcod & had hooked a fish', 'Playing in knee-deep water', 'Surfing, but lying prone on his board', 'Free diving for scallops', 'Scuba Diving for lobster (at surface)', 'Investigating shark sighting', 'Sailing on catamaran & fell into the water', 'Surfing or body surfing', 'Free diving , but surfacing', 'Boat capsized?', 'Sea disaster, foundering of the cargo vessle M/V Dorolonda', "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ", 'Towing her sister on plastic ski board', 'Steinhart Aquarium', 'Scuba diving for abalone', 'Ferry boat sank', 'Swimming from the New Venture ', '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water', 'Floating on air mattress', 'Surfing & dangling foot in water amid baitfish', 'Water-skiing', 'Paddleskiing', 'Ran into the water', 'In waist-deep water', 'Free diving for abalone from Zodiac (submerged)', 'Paddle Boarding', 'Spearfishing ', 'Sailboarding, fell into water 100 yards outside the breakwater', 'Fishing on a boat', 'Spearfishing, but swimming on surface', 'Inspecting teeth of supposedly dead (hooked & shot) shark', "Diving to untangle a crab trap line from boat's propeller", "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore", 'Snorkeling on surface', 'Catching sardines', 'Scuba diving, reportedly also spearfishing', 'Foundering of the Israeli freighter Mezada', 'Standing / Wading', 'Free diving Spearfishing', 'Exercising his dog in the shallows', 'Commercial spearfishing', 'Free diving / spearfishing, ', 'Diving in tuna net', 'Resting on body board', 'Skin diving', 'Sinking of the ferryboat Don Juan', 'Sinking of the ferryboat Bongbong 1', 'Hookah Diving', 'Gaffing netted shark', 'Freedom swimming', 'Murdered by Thai pirates', 'Floating with life preserver after his boat foundered', 'Floating on inner tube raft', "Explosion destroyed 28' boat, survivors in the water ", 'Fishing for mackerel', 'Swimming, after single-engine aircraft went down in the sea', 'Fishing for bottom fish', 'Floating on an inflatable raft', 'Free diving for abalone (surfacing)', "40' fishing boat sank", 'Spearfishing / Scuba diving', 'Collecting fish from net', 'Fishing for yellowtail', 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days', "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board", 'Hookah diving for abalone (submerged)', 'Thrashing the water / imitating the shark victim from "Jaws"', 'Fishing for white shark', 'Shipwreck', 'Skindiving,', '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon', 'Surfing, fell off surfboard', "Sitting in bow of her father's 5 m boat", 'Competing in a light tackle game fishing', 'Fishing for snoek & yellowtail', 'Spearfishing / scuba diving', 'Attempting to drive shark away from the beach', 'Filming & feeding captive sharks', 'Floating on a small orange raft ', 'Scuba diving for abalone (at surface)', 'Swimming near his boat', 'Spearfishing Competition', 'Floating in inner tube', 'Diving & force-feeding the shark', 'Attempting to drag hooked shark ashore by its tail', 'Ferry capsized', 'Swimming underwater from crayfish cage to a fishing bait', '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current', 'Freedom Swimming', 'Free diving for abalone (submerged)', 'Adrift after the sinking of the motor yacht Princess Dianne', 'Free diving (but on surface)', 'Fishing boat swamped in a storm', 'Fishing for kob', 'Fishing for red fish', 'Sitting', 'Swimming alongside yacht Mexico Fiesta', 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S', 'Free diving, Spearfishing', 'Crabbing (spearing crabs)', 'Fishing from paddleski', 'Scuba diving & U/W photography', 'Sitting in shallows', 'Free diving, collecting shells', 'Scuba diving & feeding fish', 'Hookah diving (submerged)', 'Wreck of the 1689-ton Portuguese  coaster Angoche', 'Fishing for prawns', 'Sea Disaster Sinking of ferryboat Christina', 'Motor launch Baby Princesa capsized with 22 people on board', 'Freediving', 'Air disaster', 'Attempted to return injured shark to the sea', 'Spearfishing / freediving', 'Washing cooking pans', 'Washing clothes on stairs', 'Fishing, trying to catch the end of his fishing line', 'Scuba diving for lobsters', 'Freediving for abalone (at surface)', 'Surf-fishing', 'Netting pilchards', 'Hard hat diving', 'Sight-seeing', 'Feeding mullet to sharks', 'Wreck of the Storm King', 'Spearfishing using Scuba', 'Sinking of the ferryboat Dumaguete ', 'Playing with a frisbee in the shallows', 'Leaving the water', 'Dynamite fishing', 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore', 'Clamming', 'Schooner sank during a storm', 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws', 'Wading & pushing dinghy toward  the shallows', 'Picking up shark by the tail', 'Swimming after his canoe capsized', 'Sinking of the M/V Mindoro during a typhoon', 'Standing on sandbar', "Boat capsized between O'ahu & Molokai", 'Pulling shark from the water', 'Spearfishing on Scuba', 'Spearfishing, dived to pick up a float line', 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)', 'Photographing sharks underwater using Scuba', 'Beach seine netting', 'Fishing boat', 'Feeding a shark', 'Vehicle plunged over cliff into the water', 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ', 'Fishing for rock lobster', 'Swimming in the channel', 'A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water', 'Free diving, carrying speargun', 'Hunting crayfish ', 'Diving / UW photography', 'Nett

In [32]:
# MAKING A LIST UNIQUE FOR "FATALS"

fatals = list(sharky['Fatal (Y/N)'].unique())

In [33]:
# CHECKING THE AMOUNT PER "FATAL (Y/N)"

display(sharky['Fatal (Y/N)'].value_counts())

N          4290
Y          1387
UNKNOWN     604
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [34]:
# CHECKING VALUES AND SYNTAX FOR "FATALS"

print(fatals)

['N', 'Y', 'UNKNOWN', 'M', '2017', ' N', 'N ', 'y']

In [35]:
# REDUCE FATLA TO BETTER VISUALIZE THE PLOTS

sharky['Fatal (Y/N)'].replace({' ':'UNKNOWN','M':'UNKNOWN','2017':'UNKNOWN',' N':'N','N ':'N','y':'Y'},inplace=True)

In [36]:
# CHECKING THE AMOUNT PER "FATAL (Y/N)"

display(sharky['Fatal (Y/N)'].value_counts())

N          4298
Y          1388
UNKNOWN     606
Name: Fatal (Y/N), dtype: int64

In [37]:
# MAKING A LIST UNIQUE FOR "TIME"

time = list(sharky['Time'].unique())

In [38]:
# CHECKING THE AMOUNT PER "TIME"

display(sharky.Time.value_counts())

UNKNOWN        3344
Afternoon       187
11h00           128
Morning         121
12h00           109
               ...
14h37             1
10h07             1
13h53             1
13h23             1
19h00-20h00       1
Name: Time, Length: 367, dtype: int64

In [39]:
# CHECKING VALUES AND SYNTAX FOR "TIME"

print(time)

['18h00', '14h00  -15h00', '07h45', 'UNKNOWN', 'Late afternoon', '17h00', '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40', '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00', '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00', '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30', '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19', 'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30', '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15', '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50', '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40', '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00', 'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50', '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52', '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10', '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50', '14h15', '09h45', '06h45', '05h00', '03h30', 'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00', '16h40', '16h18', '11h10', 'Early afternoon', '17h50', '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58', '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55', '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24', '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20', 'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05', 'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26', '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.', '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime', '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00', '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53', '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39', '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"', 'Just before sundown', '17h55', '22h30', '17h15', '16h10', '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08', '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55', '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55', '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35', ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.', '18h40', '13h14', '13h06', 'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46', '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21', 'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28', '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05', '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33', '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54', 'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30', '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)', '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak', '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark', '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45', '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night', '03h45 - 04h00', '13h10', '09h30 / 15h30', '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night', '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.', '"After dark"', '10h00 or 14h00', '19h10', '16h25', '2 hrs before sunset', '18h15 to 21h30', '1500', '"shortly before dusk"', '>17h30', '>14h30', 'Between 11h00 & 12h00', 'After 04h00', '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55', 'After dusk', 'FATAL  (Wire netting installed at local beaches after this incident.)', '01h30', 'After midnight', 'Late afternon', '05h30', '08h58', '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak', 'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00', '19h00-20h00']

In [40]:
# MAKING A LIST UNIQUE FOR "SPECIES"

species = list(sharky['Species '].unique())

In [41]:
# CHECKING THE AMOUNT PER "SPECIES"

display(sharky['Species '].value_counts())

UNKNOWN                                                                                                                          2828
White shark                                                                                                                       163
Shark involvement prior to death was not confirmed                                                                                105
Invalid                                                                                                                           102
Shark involvement not confirmed                                                                                                    88
                                                                                                                                 ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                   1
Bull shark, 2.3 m [7.5']                                                                                                            1
0.9 m  [3'] shark                                                                                                                   1
Mako shark, 14'                                                                                                                     1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: Species , Length: 1550, dtype: int64

In [42]:
# CHECKING VALUES AND SYNTAX FOR "SPECIES"

print(species)

['White shark', 'UNKNOWN', '2 m shark', 'Tiger shark, 3m', 'Tiger shark', "Lemon shark, 3'", "Bull shark, 6'", 'Grey reef shark', 'Invalid incident', 'Tawny nurse shark, 2m', 'Shark involvement not confirmed', 'Questionable', '3 m shark', 'White shark, 3.5 m', 'White shark, 2.5 m', "6' shark", 'Juvenile bull shark', 'Bull shark', "Tiger shark, 12'", 'Wobbegong shark', '3.5 m shark', '1.8 m shark', 'Blacktip shark', 'Juvenile white shark,  2.7 to 3.2 m', 'Bull shark, 2 m', 'Possibly a wobbegong', 'Injury believed caused by an eel, not a shark', 'Galapagos shark?', '2m shark', 'Bull shark, 3 m ', 'Grey reef shark. 2 m', 'small shark', 'Wobbegong shark?', 'Juvenile nurse shark', "Nurse shark. 5'", 'Tiger shark, female', 'Some drowned but other may have been killed by blue sharks', 'White shark, 4.6 m', 'Cookiecutter shark', 'Wobbegong shark, 1 m', 'White shark, 4.5 m', 'Spinner shark, 4 to 5 feet', 'Tiger shark, 8 to 10 feet', "8' shark", 'Death may have been due to drowning', "5' shark", "4' to 5' shark", 'Porbeagle, 1.5 m', 'White shark, 3.5m', "5' to 6' shark", 'White shark, 3 to 3.5m ', 'Nurse shark', 'White shark, 3 m', 'Shark involvement questionable', "White shark, 5' to 7'", 'Possibly a juvenile blacktip shark', 'Oceanic whitetip shark, 1.8 to 2 m', "4' shark", "White shark, 10'", 'A small shark', "Sandtiger shark  2'", "Blue shark 6'", '"A small shark"', "White shark, 11' to 13'", "White shark, 8' to 10'", "White shark, 9'", "Bull shark, 4' to 5'", 'Tiger shark, 100 kg', 'Shark involvement prior to death not confirmed', 'No shark invovlement ', 'Bull shark, 2m', 'White shark, 4 m', 'Seven-gill shark', '3m shark, probably a smooth hound', "3' shark", "9' shark", 'Shark involvement highly doubtful', 'No shark invovlement - it ws a publicity stunt', "Bull shark, 5' to 7'", "10' shark", 'Lemon shark', 'Bull shark, 1.5', 'Lemon shark pup', "White shark, female, 14'", 'Caribbean reef shark', 'Bull shark, 4 m', 'Bull shark, 1 m', 'a small shark', 'Wobbegong shark, 2m', 'Broadnose sevengill shark, 1.5 m', " 6' to 8' shark", "3' to 4' shark", "Tiger shark, 10'", 'Invalid', 'Bull shark, 3.5 m', "Tiger shark, 10' ", 'Blue shark', "Nurse shark, 4'", 'reef shark, 1m', "White shark, 10' to 12'", "Lemon shark, 9'", 'Angel shark', 'dogfish shark', 'Tawny nurse shark', "Caribbean reef shark, 4.5'", "3' to 5' shark", "Said to involve an 8' shark but more likely damage caused by debris", '3+ m shark', 'Mako shark', 'Bronze whaler sharks x 3', "Blacktip shark, 4'", "Nurse shark, 2'", "Mako shark, 1.5 m [5'] ", 'Grey reef shark, 2 m', "Bull shark, 7'", 'Tiger shark, 2.5 m', 'Nurse shark, 2.5-ft', 'Bronze whaler', 'Sandtiger shark', 'No shark involvement', "Reef shark, 5'", 'Bull sharks x 2', "Tiger shark, 14'", "Silky shark, 6.5'", "Bronze whaler shark, 6'", 'Tiger shark, 1.5 m ', 'Galapagos shark', "Spinner shark, 7'", 'Bull shark, 2.8 to 3.1 m', "Spinner shark, 5'", "Tiger shark, 7'", 'Hammerhead sp.', "Tiger shark, 13' ", "Blacktip shark, 4' to 5'", "Blacktip shark, 5' to 6'", "White shark, 19'", 'juvenile shark', "Tiger shark, 13'", 'Hammerhead shark', "White shark, 11' to 12'", 'Hammerhead shark.', "4' shark?", "White shark, 10' to 12' ", "White shark, 13'", "Hammerhead shark. 6' to 7'", "Blacktip or spinner shark, 4'", "Thought to involve a 3' to 4' shark, but shark involvement not confirmed", 'White shark, 3.9 to 4.2 m', 'Mako shark, 100-lb', 'Bronze whaler shark, 1.5m', "White shark, 7'", 'Shark involvement not cofirmed', "6' to 7' shark", 'White shark, 2m to 3 m', "Bull shark, 5'", 'small nurse shark', 'Bull shark, 2.5 m', '1m to 1.2 m shark', '3- to 4-foot shark', 'White shark, 6 m', 'Blue shark, 8 to 9 feet', 'Tiger shark, 8 to 12 feet', 'Blacktip Reef shark ', 'Tiger shark, 3.5 m', '3.5 to 4 m shark', '2 m to  3 m shark', 'Bull shark, 1.3 m', '5 m shark', '1.5 m shark', 'White shark or oceanic whitetip shark', 'Raggedtooth shark, 1.3 m', 'White shark, 4 to 5 m', 'Shark involvement prior to death still to be determined', 'Shark involvement not confirmed & highly unlikely', 'Goblin shark', "2' shark", "12' to 14' shark", '1 m shark', "Bull shark, 3' to 4'", "White shark, 18' to 20'", "8' to 10' shark", '2 white shark: 13\' & 9"8"', "7' shark", "White shark, 12' to 14'", 'Spinner shark', 'Spinner shark or blacktip shark', "4' to 6' shark", "Bull shark, 4.5' ", 'reef shark', " Bull shark, 8'", "Bull shark, 9' to 10'", " Bull shark, 5'", "4' tp 5' shark", 'Possibly juvenile tiger shark', '1.8 metre shark', "6' to 8' shark", " White shark, 7' ", "Oceanic whitetip shark'", "Caribbean reef shark, 7' to 8'", ' Lemon shark, 3.5 m', " Sandbar shark, 3' to 4'", ' Bull shark, 1.2m ', '3m shark', ' Tawney nurse shark, 1m', " white shark, 15' ", 'Cow shark', 'reef shark?', ' Raggedtooth shark, 2m', '3 m to 4 m white shark', 'Blacktip or spinner shark?', 'Blacktip reef shark ', '7-gill shark?', '1m shark', '7-gill shark', 'Oceanic whitetip shark', 'Reported to involve a bull shark', 'White shark, 3m ', "Tiger shark, 10' to 12'", ' Wobbegong shark, 1.6 to 1.8m ', 'Tiger shark, 3m ', 'Thought to involve a white shark', "White shark, 10 '", 'Reported to involve a white shark', 'Blacktip reef shark, 1m', 'Thought to involve a bull shark', 'Reported to involve a 4 m white shark', "Whitetip reef shark, 4' to 6'", 'Nurse shark?', 'Small bull shark', 'Salmon shark', "Mako shark, 5'", 'Tiger shark?', "Bull shark, 8'", "Bull shark, 6' to 8'", "Tiger shark, 8' to 10' ", "Possibly a Bull shark, 3'", "Lemon shark, 4'", 'Wobbegong, 2m', 'Grey nurse shark, 3m', 'Possibly a blacktip reef shark', 'shark involvement not confirmed', 'Raggedtooth shark, 1.5 m', 'Tiger shark, 4.8 m', 'Bronze whaler shark, 2.5m', '"small sharks"', 'White shark, 4m', 'White shark, 5m', "Tiger shark, 15'", 'Bronze whaler shark, 3m', '2.5 m shark', 'Bull shark, 2m ', "Tiger shark, 6'", "2' to 3' shark", "Tiger shark, 8'", "Tiger shark, 10' to 12' ", "White shark, 15' to 16' ", 'Possibly a 3 m bull shark', "3.5' to 4' shark", "Porbeagle shark, 7'", '4.5 m shark', "Lemon shark, 4' to 5' ", 'Lemon shark, 2.5m to 3m ', 'White shark or bronze whaler', 'Salmon shark suspected, but unlikely', "14' to 18'shark", "15' shark", 'possibly a bull shark', 'a small reef shark', 'small blacktip shark?', 'Blacktip shark ', 'Blue shark, 2.5m', 'White shark, 2 m', '18" to 24" shark', 'Bull shark, 3m', "Tiger shark, 8' to 9' ", 'White shark, 4 m to 5m ', 'White shark, 6m ', "Tiger shark, 10'  ", 'White shark, 4m ', 'Possibly a bull shark', "Possibly a 5' to 6' bull shark", 'Tawny nurse shark, 40cm', 'Grey nurse shark', 'White shark, 7m', 'Blue shark, 70-kg blue shark', 'White shark, 2.7 m', 'Allegedly a 4 m tiger shark', "7' to 8' shark ", 'White shark, 2.5m', "White shark, 15' to 16'", 'Raggedtooth shark', "White shark, 15'", 'Port Jackson shark, 1m', "10' to 12' shark", '2 to 2.5 m shark', 'Tiger shark, 2m', "6' shark, possibly a blactip or spinner shark", "White shark, >6'", "Possibly a 5' to 6' sandtiger shark", '4 m shark', 'Grey reef shark ', 'White shark, 3m to 4m', 'Bull shark, 3m female', "White shark, 5' k", "Oceanic whitetip shark, 7'", "Sevengill shark, 6' to 8'", 'Zambesi shark', ' Tiger shark, 2.8m', "Sandbar shark, 8'", "Bull shark, 12'", 'reef shark, 1.5m', "1' to 2' shark", 'possibly a bronze whaler shark', ' Bull shark, 2.5 m', 'Blacktip shark pup', 'Bull shark, 2.5m', '3 m to 4 m shark', 'White shark x 2', 'Oceanic whitetip shark, 2.5m ', 'Mako shark ', 'Oceanic whitetip shark, 2.5m, female', "Porbeagle shark, 8' ", "White shark, 14' to 18' ", 'Bull shark, 1.4m ', "Possibly a 6' lemon shark", 'Shark involvement prior to death was not confirmed', 'Possibly a small blacktip shark', "Sandtiger shark, 4' to 5'", 'A small spinner shark', 'Nurse shark, juvenile ', "Blue shark, 7'", '20 to 30kg shark', "Lemon shark, 6'", "14' shark", "Oceanic whitetip shark, 6'", 'Possibly a blue shark', 'Wobbegong shark, 1.6m', '2 m to 3 m shark', "Spinner shark, 6'", 'Thought to involve a juvenile hammerhead shark', 'Whitetip reef shark, 1m', 'Zambesi shark, 2m ', 'White shark, 2.8 to 3 m ', "Sandtiger shark, 8'", 'Thresher shark', "Bull shark, 10'", 'Spurdog', "White shark, 5' to 6' juvenile ", 'White shark, 2m', 'Tiger shark, 12', 'Bull shark?', "Caribbean reef shark, 6'", "Nurse shark, 6'", 'Thought to involve a Bronze whale shark, 2m', 'Shark involvement probable, but not confirmed', 'Oceanic whitetip shark, 2.5 to 3m', '80 kg shark', "5' to 8' shark", 'blacktip or spinner shark', "White shark, 12' to 15' female", 'Bronze whaler shark?', 'Blacktip reef shark pup', 'Thought to involve a cookie cutter shark', 'Wobbegong shark, 60cm', 'Blue shark, 1m', '2.6 m shark', 'White shark, 2.5m ', 'Bull shark, 2.7 m ', "White shark, 12' ", 'White shark, 5.5 m ', 'White sharks', 'Dusky shark, 2m', 'Mako shark, 3m', 'Broadnose sevengill shark', 'White shark, 4m to 5m ', '4 to 5m white shark', 'Raggedtooth shark, 2m', 'White shark, 4.5 to 5 m ', 'Zambesi shark?', 'Bronze whaler shark', ' reef shark, 1.8m', '5 m white shark', "+3' shark", "2' to 3' juvenile shark", "White shark, 14' to 16' ", "8' bull shark or Caribbean reef shark", "8' white shark or 7-gill shark", "3'  shark", "2'  shark", "2' to 3' reef shark", 'Starry smoothhound shark, 1m', "Bull shark, 6' to 7'", 'White shark, 4.5m', "4.5 to 5' shark", 'Basking shark', 'Tiger sharks in area', '2 small bull sharks', 'Bull shark, 1.8m', "White shark, 12' to 15'", 'Tiger shark, 2.3m ', "Tiger shark, 13' female", 'Reported by media as shark attack, but shark involvement prior to death was not confirmed', 'Shark involvement not confirmed; thought to be a barracuda bite', "1.5' to 2' shark", "2.5' shark", 'A bull shark, according to some of the divers on the boat', "Goblin shark, 4.2'", 'Blacktip shark, 2m', 'Mako shark, 90kg', 'Bronze whaler shark, 4m', "Nurse shark, 10'", 'Possibly a hammerhead shark', '"a small shark"', 'Not a shark attack; it was a hoax', '2.27 m shark', '1.5 to 2 m shark', "Blacktip shark, 5'", 'Oceanic whitetip sharks were in the vicinity', 'Gray reef shark', "9.5' shark?", "Nurse shark, 2' to 3' ", 'Possibly a spinner shark', "White shark, 12'", 'Sand shark', "Possibly a 6' bull shark", ' ', "Possibly a 10' bull shark", 'Bronze whaler shark, 1.5 m ', "3' small spotted catshark, Scyliorhinus canicula", "Bull shark, 5' ", 'Questionable Incident', "Lemon shark, 6' female ", 'A 10-year-old 94-pound pregnant blacktip reef shark', 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length', 'White shark, 2m ', "Tiger shark, 14' ", 'Lemon shark, >1 m ', "Bull shark, 10' ", 'White shark, 3m', '2.4 m shark', '24" to 30" shark', "6' to 8' shark, possibly a tiger shark", '2.5 to 3 m shark', '2 to 3 m shark', "White shark, 12' to 15' ", 'Raggedtooth shark, 150-kg', 'White shark, 5m ', 'Bull shark, 1.5m ', "White shark, 16' ", "1' to 4' shark", "3' to 3.5' shark", 'White shark, 3.5m ', 'small catsharks', 'White shark?', 'Thought to involve a mako shark, but possibly a sea lion', "Bull shark, 4' to 5' ", 'Angel shark, 1.2m ', 'Shark involvement not confirmed, injury may have been caused by a bluefish', 'Bull or tiger shark', "5' to 6' spinner or bull shark", '1.8 m blacktip "reef" shark', "Possibly a 1' to 3' blacktip or spinner shark", "14' white shark", "Tiger shark, 8' to 12'", "Tiger shark, 15' female", "Grey reef shark, 5' to 8' ", 'Wobbegong shark, 2 m ', "Bull shark, 4' to bull shark", 'Bronze whaler shark, a  juvenile ', 'Raggedtooth shark, 2.5 m to 3 m ', '3 m, 600-kg shark', "Tiger shark, 5' ", 'Bronze whaler shark, 2 m', "5' to 7' shark", '4.5 m white shark', "12' to 18' shark", "12' shark", '3.5 m white shark', 'Said to involve a 1.5 m shark', 'Whitetip reef shark', '4 m white shark', '3 m white shark', 'Raggedtooth shark, 2.5m ', "12' to 14' white shark", "18' white shark", "Tiger shark, less than 10'", 'Caribbean reef sharks', 'Tiger shark, 3 m ', "14' to 16' white shark", "4 m [13'] white shark", "2 m [6.75'] shark, 200-kg shark T", 'juvenile white shark', 'Possibly a sandbar shark or small blacktip shark', "1.8 m [6'] shark", "3.5 m [11.5']shark", "[4.5' to 5'] shark", "[4' to 5']", "1.8 m [6'] bull shark", 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha', 'Unknown, but it was reported that a shark tooth was recovered from the wound', "3 m [10'] white shark", "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident", '"small shark"', '18" to 36" shark', "Tiger shark, 3 m [10']", "2 m [6.75'] copper shark", "1.8 m [6'] blacktip shark", 'small hammerhead shark', "4 m [13'] shark", "6 m [20'] white shark", "Sandtiger shark, 2.1 m [7'] ", "Bronze whaler shark, 4.3 m [14'] ", "Nurse shark, 3' ", "Tiger shark, 2.4 m [8']", "1.8 m [6'] Caribbean reef shark", "3 m [10'] shark", "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ", '4.5 m & 5 m white shark ', "5.5 m [18'] white shark", "2.5 m [8.25'] bull shark", "2 m [6.75'] white shark", "Bronze whaler shark, 2.4 m [8'] ", "1.8 m to 2.4 m [6' to 8'] white shark", "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ", "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']", 'Thought to involve a 2.5 m bull or tiger shark', "Tiger shark, 3 m [10'] ", "2.4 m [8'] shark", "0.9 m to 1.2 m [3' to 4'] white shark", "4.9 m to 5.5 m [16' to 18'] white shark", "1.2 m [4'] shark", "3 m to 4 m [10' to 13']  white shark", "1.2 m to 1.5 m [4' to 5'] shark", "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ", '2 sharks, 4.5 m & 3 m ', '"black tipped" shark', '9\'2" white shark', "Bronze whaler shark, 2.5 m [8.25'] ", "0.9 m to 1.5 m [3' to 5'] shark", "2.4 m to 3.7 m [8' to 12'] shark", "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)", "Mako shark, 1.8 m [6']", "Wobbegong shark, 1.2 m [4'] k", "White shark, 5.5 m [18']", 'small sharks', "5 m [16.5'] white shark", "1.2 m [4'] bull shark", 'bull shark', "Tiger shark, 2.4 m to 3 m [8' to 10'] ", "Bronze whaler shark, 1.5 m [5'] ", "2 m [6.75'] sevengill  shark", '60 cm [23.6"] blind or brown shark', "4 m to 5 m [13' to 16.5'] white shark", 'Possibily a  1.5 to 2 m sandtiger shark', 'Shark involvement doubtful', 'Bull shark, 1.65 m [5\'5"] was speared & killed', 'Bull shark, 132-kg [291-lb] ', "Mako shark, 3 m to 4 m [10' to 13'] ", "Raggedtooth shark, 3.5 m [11.5'] ", 'Shortfin mako shark', "Wobbegong shark, 1.2 m [4'] ", "Tiger shark, 4 m [13']  ?", '2.5 oceanic whitetip shark', "Nurse shark, 60 cm to 90 cm [2' to 3'] ", "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark", '1.2 m [4\'] "grey-colored shark"', '2 m cow shark', "4.5 m to 5.5 m [15' to 18'] white shark", "3.5 m [11.5'] white shark", 'Unidentified species', "1.5 m to 1.8 m [5' to 6'] shark", "2.1 m  [7'] bull shark", "8' great hammerhead shark", "106 cm [3.5']  shark", '\x93small brown shark\x94', "3.7 m to 4.3 m [12' to 14'] shark", '"sand shark"', "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark", "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark', '15 cm to 20 cm [6" to 8"] bite diameter just below left knee', "Mako shark, 3 m [10']", "60 cm [2'] captive shark", "2.5 m [8.25'] white shark", 'Species unidentified', "Thought to involve a 2 m [6.75'] grey nurse shark", "Thought to involve a >2 m [6.75'] bull shark", 'Reported to involve a hammerhead shark', 'White shark, 4 m white shark', 'Wobbegong shark, 1m', 'Shark involvement not confirmed, injury may be due to a stingray', "3 m to 4.5 m [10' to 15'] white shark", "2.4 m to 3 m [8' to 10'] grey colored shark", "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ", 'Possibly a bull shark or tiger shark', 'Blacktip or spinner shark', "3.5' to 4.5' shark", "1.2 m [4'] blacktip shark", "Tiger shark, 1.5 m [5']k", "3 m to 3.7 m [10' to 12'] shark", "1' to 2' hammerhead or bonnethed shark", "0.9 m  to 1.2 m [3' to 4'] shark", "Nurse shark, 1.5 m [5'] ", "Sandtiger shark, 3 m [10'] ", "1.2 m [4'] blacktip or sandbar shark", "Bull shark, 1.8 m to 2.1 m [6' to 7'] ", 'Mako shark, 400-lb ', "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark", "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ", "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand", '\xa0 ', "1.5 to 2.5 m [5' to 8.25'] copper shark", "3.7 m to 4.3 m [12' to 14'] white shark", '1 m  shark', "3' blacktip shark", "2.1 m to 2.4 m [7' to 8'] shark", "White shark, 6m [20']", 'Bull shark, 400-lb ', "0.9 m [3'] shark", 'Nurse shark, 1m ', "Spinner shark, 3' to 4' ", 'Shark involvement prior to death unconfired', '1.5 m [5\'] "whaler shark"', 'C. leucas tooth fragment recovered from kayak', 'Unidentified', "Tiger shark, 1.8 m [6'] ", "Mako shark, 2 m [6.75'] ", "Tiger shark, 1.8 m [6']", 'Questionable incident - shark bite may have precipitated drowning', "2' to 3.5' shark", "12' sandtiger shark", 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.', "1.5 m [5'] shark", "3 m [10'] bull shark", 'Possibly  a blacktip or spinner shark', "3' shark, possibly  a blacktip or spinner shark", "Blacktip shark, 5' to 6' ", "1.9 m [6.5'] bull shark", "Mako shark, 14' ", "0.9 m  [3'] shark", "Bull shark, 2.3 m [7.5'] ", "White shark, 2.4 m to 3 m [8' to 10'] ", "1.2 m to 1.5 m [4.5' to 5'] shark", "White shark, 2.7 m to 3 m [9' to 10'] ", 'Possibly a juvenile blacktip or spinner shark', "Possibly a 1.5 m [5'] blacktip or spinner shark", '1 m shark, possibly whitetip reef shark', "White shark, 2.7 m [9'] ", "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ", "Tiger shark, 8' ", "White shark, 5 m [16.5'] ", "Bronze whaler shark, 2.5 m [8.25']  k", "2 m [6.75'] shark", "White shark, 4.3 m [14'] ", '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"', "6 m [20'] shark", 'White shark, 4.5 m [14\'9"] ', "Porbeagle shark, 3 m [10']rk", 'Tiger shark, 4 m ', "1.2 m to 1.8 m [4' to 6'] shark", "White shark, 4.9 m [16'] ", "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ", "2.1 to 2.4 m [7' to 8'] shark", "Blacktip shark, 2' ", "White shark, 4.3 m [14']", "White shark, 4 m to 5 m [13' to 16.5'] ", '100-kg [221-lb] dead blue shark', 'White shark, 2.5 m ', "60 cm to 90 cm [2' to 3'] shark", "White shark, 3.5 m [11.5']  male ", 'Thought to involve a Zambesi shark', "A 2' shark was seen in the area by witnesses", "Thought to involve a 2.7 m [9'], 400-lb bull shark", 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ', "Blacktip shark, 2.4 m to 3 m [8' to 10'] ", 'Shark involvement  not confirmed', "Nurse shark, 1.5 m [5']", "1.8 m [6'] grey-colored shark", "Grey reef shark, 2 m [6.75'] ", "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ", "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?", "Nurse shark, 1.2 m [4'] ", "0.9 m [3'] shark,  probably a blacktip or spinner shark", "Bull shark, 2.4 m [8']", "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ", 'Tiger sharks & bull sharks (20 sharks in all)', "Tiger shark, 4 m [13'] ?", "2 m to 2.5 m [6.75'  to 8.25'] shark", 'Shark involvement  questionable', "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ", 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks', 'Sevengill shark', 'Thought to involve a white, bull or tiger shark', "White shark, 3 m [10'] ", '1.3 to 1.6 m shark', "Grey reef shark, 1.2 m [4'] ", "Lemon shark, 2.7 m [9'] ", "Said to involve a 7 m [23'] white shark", "2.7 m [9']  bull shark or Caribbean reef shark", "White shark, 3 m to 5 m [10' to 16.5'] ", "Bull shark, 2.1 m [7']", "Blacktip shark, 1.8 m [6'] ", "White shark, 4 m [13'] ", "Tiger shark, 2.5 m [8.25']", 'Grey reef shark, 1.5 m ', '3 bull sharks', "Sevengill shark, 2.4 m [8'] ", '200 to 300 kg shark', 'Mako shark, 1.3 m gaffed ', "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity", 'Bronze whaler or tiger shark', "White shark, 4.6 m [15'] ", 'Possibly a white shark', 'A "small shark"', "White shark, 5 m  to 6 m [16.5' to 20'] ", 'Though to involve a white shark', "White shark, 5 m to 6 m [1

In [43]:
# NEED TO APPLY REGEX TO "ACTIVITIES"

sharky['Activity_merged'] = sharky['Activity'].apply(fc.limpia)

In [44]:
display(sharky['Activity_merged'].value_counts())

Unknown     1838
Surfing     1590
Swimming    1304
Fishing     1175
Diving       323
Boating       62
Name: Activity_merged, dtype: int64

In [45]:
# NEED TO APPLY REGEX TO "ACTIVITIES"

sharky['Species_merged'] = sharky['Species '].apply(fc.specie)

In [46]:
display(sharky['Species_merged'].value_counts())

Unknown                4911
White shark             668
Tiger shark             287
Bull shark              178
Whitetip shark          108
Shortfin Mako Shark      59
Hammerhead Shark         48
Sand Tiger Shark         18
Blacktip Shark           15
Name: Species_merged, dtype: int64

In [47]:
display(sharky)

,Country,Activity,Fatal (Y/N),Time,Species,Activity_merged,Species_merged
0,USA,Paddling,N,18h00,White shark,Surfing,White shark
1,USA,Standing,N,14h00 -15h00,UNKNOWN,Unknown,Unknown
2,USA,Surfing,N,07h45,UNKNOWN,Surfing,Unknown
3,AUSTRALIA,Surfing,N,UNKNOWN,2 m shark,Surfing,Unknown
4,MEXICO,Free diving,N,UNKNOWN,"Tiger shark, 3m",Diving,Tiger shark
...,...,...,...,...,...,...,...
6297,AUSTRALIA,Diving,Y,UNKNOWN,UNKNOWN,Unknown,Unknown
6298,AUSTRALIA,Pearl diving,Y,UNKNOWN,UNKNOWN,Diving,Unknown
6299,USA,Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown
6300,PANAMA,UNKNOWN,Y,UNKNOWN,UNKNOWN,Unknown,Unknown
6301,CEYLON (SRI LANKA),Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown

In [48]:
# NEED TO APPLY REGEX TO "TIME"

sharky['Time_merged'] = sharky['Time'].apply(fc.hour)

In [49]:
display(sharky)

,Country,Activity,Fatal (Y/N),Time,Species,Activity_merged,Species_merged,Time_merged
0,USA,Paddling,N,18h00,White shark,Surfing,White shark,Afternoon
1,USA,Standing,N,14h00 -15h00,UNKNOWN,Unknown,Unknown,Noon
2,USA,Surfing,N,07h45,UNKNOWN,Surfing,Unknown,Sunrise
3,AUSTRALIA,Surfing,N,UNKNOWN,2 m shark,Surfing,Unknown,UNKNOWN
4,MEXICO,Free diving,N,UNKNOWN,"Tiger shark, 3m",Diving,Tiger shark,UNKNOWN
...,...,...,...,...,...,...,...,...
6297,AUSTRALIA,Diving,Y,UNKNOWN,UNKNOWN,Unknown,Unknown,UNKNOWN
6298,AUSTRALIA,Pearl diving,Y,UNKNOWN,UNKNOWN,Diving,Unknown,UNKNOWN
6299,USA,Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown,UNKNOWN
6300,PANAMA,UNKNOWN,Y,UNKNOWN,UNKNOWN,Unknown,Unknown,UNKNOWN
6301,CEYLON (SRI LANKA),Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown,UNKNOWN

In [50]:
sharky['Time_merged'].replace({
    'UNKNOWN':'Unknown',
    'Early afternoon':'Unknown',
    'Midnight':'Night',
    'After noon':'Afternoon',
    'Midday.': 'Noon',
    'Just before noon':'Noon',
    'Lunchtime':'Noon',
    'Midday':'Noon',
    'Morning ':'Morning',
    'Sometime between 06h00 & 08hoo':'Unknown',
    '9h00':'Morning',
    '"shortly before dusk"':'Unknown',
    'Late afternoon':'Afternoon',
    '2017':'UNKNOWN',
    'Midday':'Noon',
    'Shortly before 12h00':'Noon',
    'Early morning':'Sunrise',
    'Dawn':'Unknown',
    'AM':'Unknown',
    'A.M.':'Unknown',
    'Dusk':'Unknown',
    'Luchtime':'Afternoon',
    'Before 07h00':'Evening',
    '"Just before 11h00"':'Noon',
    'Sunset':'Evening',
    '  ':'Unknown',
    '"Evening"':'Evening',
    'Just before sundown':'Unknown',
    'Between 05h00 and 08h00':'Sunrise',
    '>08h00':'Noon',
    '--':'Unknown',
    'Just after 12h00':'Morning',
    ' ':'Unknown',
    'Early Morning':'Sunrise',
    'Shortly after midnight':'Evening',
    '\xa0 ':'Unknown',
    'Late morning':'Morning',
    'P.M.':'Unknown',
    'Shortly before 13h00':'Noon',
    '8:04 pm':'Morning',
    'Possibly same incident as 2000.08.21':'Unknown',
    'After Dusk':'Unknown',
    '2 hours after Opperman':'Unknown',
    'Mid afternoon':'Afternoon',
    'Mid morning':'Morning',
    '"Night"':'Night',
    '30 minutes after 1992.07.08.a':'Unknown',
    '>06h45':'Sunrise',
    'Between 06h00 & 07h20':'Sunrise',
    '<07h30':'Sunrise',
    'Nightfall':'Night',
    'X':'Unknown',
    'Prior to 10h37':'Unknown',
    'Daybreak':'Unknown',
    '>12h00':'Noon',
    'Mid-morning':'Morning',
    'Just before dawn':'Unknown',
    ' 14h00':'Noon',
    'Daytime':'Unknown',
    'Dark':'Night',
    '"After lunch"':'Afternoon',
    '>17h00':'Afternoon',
    'night':'Night',
    'Late night':'Sunrise',
    'Midday':'Noon',
    '"After dark"':'Night',
    '2 hrs before sunset':'Evening',
    'shortly before dusk':'Unknown',
    '>17h30':'Afternoon',
    '>14h30':'Noon',
    'Between 11h00 & 12h00':'Morning',
    'After 04h00':'Sunrise',
    'Ship aban-doned at 03h10':'Unknown',
    'After dusk':'Unknown',
    'FATAL  (Wire netting installed at local beaches after this incident.)':'Unknown',
    'After midnight':'Night',
    'Late afternon':'Evening',
    '"Early evening"':'Evening',
    'Late Afternoon':'Afternoon',
    '   ':'Unknown',
    'Before daybreak':'Unknown',
    'dusk':'Unknown',
    'Before 10h30':'Morning'
},inplace=True)

In [51]:
display(sharky['Time_merged'].value_counts())

Unknown      3422
Noon          897
Afternoon     852
Morning       781
Sunrise       151
Night          96
Evening        93
Name: Time_merged, dtype: int64

In [52]:
hour = list(sharky['Time_merged'].unique())

In [54]:
# EVERYTHING MERGE INTO CATEGORIES

print(hour)

['Afternoon', 'Noon', 'Sunrise', 'Unknown', 'Morning', 'Evening', 'Night']

In [55]:
act = list(sharky['Activity_merged'].unique())

In [56]:
# EVERYTHING MERGE INTO CATEGORIES

print(act)

['Surfing', 'Unknown', 'Diving', 'Swimming', 'Fishing', 'Boating']

In [57]:
coun = list(sharky['Country'].unique())

In [58]:
# EVERYTHING MERGE INTO CATEGORIES

print(coun)

['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA', 'ECUADOR', 'MALAYSIA', 'LIBYA', 'UNKNOWN', 'CUBA', 'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS', 'REUNION ISLAND', 'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE', 'FIJI', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'UNKONOWN', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN', 'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH', 'PALAU', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'PERSIAN GULF', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'ANDAMAN ISLANDS', 'GABON', 'MAYOTTE', 'THE BALKANS', 'SUDAN?', 'ARGENTINA', 'MARTINIQUE', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'JAVA', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'GUINEA', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

In [59]:
sharky.to_csv('data/shark_attack_clean.csv')

In [60]:
display(sharky)

,Country,Activity,Fatal (Y/N),Time,Species,Activity_merged,Species_merged,Time_merged
0,USA,Paddling,N,18h00,White shark,Surfing,White shark,Afternoon
1,USA,Standing,N,14h00 -15h00,UNKNOWN,Unknown,Unknown,Noon
2,USA,Surfing,N,07h45,UNKNOWN,Surfing,Unknown,Sunrise
3,AUSTRALIA,Surfing,N,UNKNOWN,2 m shark,Surfing,Unknown,Unknown
4,MEXICO,Free diving,N,UNKNOWN,"Tiger shark, 3m",Diving,Tiger shark,Unknown
...,...,...,...,...,...,...,...,...
6297,AUSTRALIA,Diving,Y,UNKNOWN,UNKNOWN,Unknown,Unknown,Unknown
6298,AUSTRALIA,Pearl diving,Y,UNKNOWN,UNKNOWN,Diving,Unknown,Unknown
6299,USA,Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown,Unknown
6300,PANAMA,UNKNOWN,Y,UNKNOWN,UNKNOWN,Unknown,Unknown,Unknown
6301,CEYLON (SRI LANKA),Swimming,Y,UNKNOWN,UNKNOWN,Swimming,Unknown,Unknown